@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

li {
    position: relative;
}

li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F59E0B;
    transition: width 0.3s ease;
}

.dark li::before {
    background-color: #FBBF24;
}

li:hover::before {
    width: 100%; 
}

li.darkMode:hover::before { 
    width: 0;
}